/* BEGIN (write your solution here) */
@font-face {
  font-weight: 400;
  font-family: Rubik;
  src: url(../fonts/calendar_fonts/static/Rubik-Regular.ttf);
}

@font-face {
  font-weight: 700;
  font-family: Rubik;
  src: url(../fonts/calendar_fonts/static/Rubik-Bold.ttf);
}


/* END */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  /* BEGIN (write your solution here) */
  font: 16px/1  Rubik, sans-serif;
  color: #fff;
  background-color: #e5e5e5;

  /* END */
}

/* BEGIN (write your solution here) */
.calendar {
  width: 250px;
  padding: 60px 60px 30px;
  background-color: #1e1f25;
  border-radius: 12px;
}

.calendar-header {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
}

.calendar-date {
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 2;
  border-bottom: 1px solid #313131;
  width: 100%;
}

td {
  color: #ccc;
  text-align: center;
  padding: 0;
  line-height: 2.3;
}

.calendar-todo {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.calendar-todo .todo-name {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
}

.calendar-todo .todo-time {
  font-size: 10px;
  color: #ccc;
}

/* END */

.rounded-green {
  color: #fff;

  background: #589c5f;
  border-radius: 50%;
}
