@font-face {
  font-weight: 400;
  font-family: "Roboto Mono";
  src: url("../fonts/calculator_fonts/static/RobotoMono-Regular.ttf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: "Roboto Mono",monospace;

  background: #333131;
}

p {
  margin: 5px 0;
}

/* BEGIN (write your solution here) */
.calculation {
  width: 300px;
  background-color: #2c3e50;
}

.results {
  padding: 30px;
  color: white;
  background-color: #505c68;
  text-align: right;
}

.expression {
  color: #ced4d9;
  font-size: 80%;
}

.result {
  font-size: 3em;
}

.container {

}

.buttons {
  width: 300px;
  column-count: 4;
  column-gap: 0;

}



button {
  height: 75px;
  width: 100%;
  display: block;
  font-size: 1.2em;
  border: none;
  background: none;
  cursor: pointer;
  color: #ced4d9;
  
}

/* END */

.small {
  font-size: 80%;
}

button:nth-of-type(4n + 4) {
  background: #3498db;
}

button:hover {
  background: #364c63;
}
